<div class="hero-unit">
	<h1>Bloccit</h1>
	<p>Bloccit is a resource for sharing links with your friends!</p>
	<p>
		<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Posts and Links</h2>
		<p>Become a member of Bloccit and enjoy the benefits of posting links and web content that you can share with other users.</p>
	</div>
	<div class="span4">
		<h2>Upload Pictures</h2>
		<p>As a member you have the option of uploading pictures for other users to comment on. Members can either post pictures that they have taken or ones that they have found on the internet.</p>
	</div>
	<div class="span4">
		<h2>Social Networking</h2>
		<p>Become a member of Bloccit in order to keep in contact with friends and share what you want with them or make new friends with the members that join daily.</p>
	</div>
</div>